@model HomeViewModel
<partial name="_Carousel" />

<h2>Pies Of The Week</h2>
<h4>Our Weekly Selection -just for you !! </h4>
<hr>

@foreach (var pie in Model.PiesOFTheWeek)
{
    <partial name="_PieCard" model="pie" />
}